[submodule "glfw"]
	path = external/glfw3
	url = https://github.com/glfw/glfw.git
	branch = master
[submodule "glad"]
	path = external/glad
	url = https://github.com/Dav1dde/glad.git
	branch = master
[submodule "spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
	branch = v1.x
